﻿
@using PagedList;
@using PagedList.Mvc;
@using AvivaFizzBuzz.Web.Models;
@model AvivaFizzBuzz.Web.Models.FizzBuzzViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Calculate Fizz Buzz</h2>

<div style="font-family:Arial;">
 <p>
      @using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
      {
           @Html.ValidationSummary(true) 
          <div>
           @Html.TextBoxFor(m => m.InputNumber)  @Html.ValidationMessageFor(m => m.InputNumber) 
           </div>
           <br />
          <div>
          <input type="submit" value="Execute Number" name="submitButton" /> 
          </div>      
            
          
          <br />
          
          if(@Model != null)
          {
              foreach (FizzBuzzDto data in Model.PagedLists)
              {
                  <div>
	             
                 @if(@data.color =="Green")
                 {
                 <span style="color:Green; font-family:Verdana">&nbsp;
                    @Html.DisplayFor(m => data.Output)
                  </span>
                 }
                 else if (@data.color =="Red")
                 {
                  <span style="color:Red; font-family:Verdana">&nbsp;
                  @Html.DisplayFor(m => data.Output)
                  </span>
                 }
	              else if (@data.color =="Blue")
                  {
                  <span style="color:Blue; font-family:Verdana">&nbsp;
                  @Html.DisplayFor(m => data.Output)
                  </span>
                  }
                  else
                  {
                  <span>&nbsp;
                  @Html.DisplayFor(m => data.Output)
                   </span>
                  }
                 	
	             
              </div>
	              <br />
          
              }
          }
 
         
      <div>  
       @if (@Model != null)
       {

            @Html.PagedListPager(Model.PagedLists, page => Url.Action("Index", new { page, number=Model.InputNumber }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
                
       }
      </div>

      }         

          
 
  </p>
      

  </div>